html,body,#root{
  width: 100%;
  height: 100%;
  display: block;
  font-family: 'vazir';
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'vazir';
  src: url('./font/Vazir.ttf');
}








